.name{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
   
  }
  .weather{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
    
    
  }
.weather-icon{
  font-size: 100%;
  width:25%
}
  
  .main-weather{
    font-size: 15vh;
    
  }
  .min-max{
    font-size: 2.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .condition{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2.4vh;
    font-weight: bold;
  }