form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    animation: open 0.5s infinite ease-in-out;
    
}
form input {
    height: 50px;
    width: 300px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    position: relative;
    font-size: 18px;
    padding-left: 20px;
    outline: none;
}

form input[name="city"]{
    color:black;
    padding: 10px;
    border: none;
  }
button {
    height: 50px;
    width: 75px;
    background-color: #f9d71c;
    border: 0;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 0 0 20px 0 black;
}

button:focus{
    outline: none;

}

button:hover{
    transform: scale(1.0);
    color:white;
    font-size: 21px;
}

