*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}
body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #0F5474;
  color:#ffffff;
  margin-top: 3rem;
}